# hCaptcha Configuration
# Get your keys from https://dashboard.hcaptcha.com/
VITE_HCAPTCHA_SITE_KEY=10000000-ffff-ffff-ffff-000000000001
HCAPTCHA_SECRET_KEY=0x0000000000000000000000000000000000000000
# JWT Secret Key
# You can generate a secure key at https://jwtsecrets.com/
JWT_SECRET=
